body {
    color: rgba(255, 8, 8, 0.982);
    background: rgb(1, 1, 1);
    margin: 9px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 10px;
}

header {
    border-bottom  
       padding: 35px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

.chamada {
    background: rgb(247, 202, 4);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(222, 216, 25);
}

.categoria h2 {
    color:rgb(255, 0, 0);
}